.carousel-caption {
    top: 60%;
    transform: translateY(-50%);
}

footer {
    background: #161616;
    height: 350px;
    width: auto;
}

@media screen and (max-768px) {
    #companylogo {
        visibility: hidden;
    }

}